
* { 
    box-sizing: border-box;
}

body {
    width: 90%;
    background-color: rgb(245, 239, 239);
}

.student-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
}

.main-header {
    display: block;
    padding-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.nav {
    margin-top: 1.5em;
}

.nav li {
    list-style:outside none none;
}

.portfolio {
    text-align: center;
    background-color: white;
}

.portfolio-header {
    
    padding: 2em;
}
.nav a {

    display: block;
    background-color: white;
    color: black;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    margin: 5px 2px;
    width: 100%;

}

.nav a:hover {
    color: #0b0b0b;
    border-bottom-color: #52bab3;
}

img {
    max-width: 100%;
    display: block;
}

.card {
    text-align: center;
    display: block;
    width: 100%;
    padding: 2em;
}

.contact {
    text-align: center;

}
.main-footer {
    display: inline-block;
}

/* .name {
    float: left;
    max-width: 50%;
} */

.top {
    float: right;
}